body {
  background-color: #222;
  color: #FFFFFF;
  font-family: Verdana, sans-serif;
  overflow: hidden;
  word-break: break-all;
}
a {
  color: #BBD;
}
h1 {
    font-size: 18px;
    text-align: center;
    color: #666;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
div.thumbnail img {
  max-width: 90%;
}
div.thumbnail {
  text-align: center;
  margin: 0.5em;
}
div.catalog div.thumbnail {
  margin: 0;
}
div.head, div.post {
  padding: 0.8em;
}
div.post {
  border-top: 1px solid #555555;
  clear: both;
}
div.post div.thumbnail {
  float: right;
  max-width: 35%;
}
.meta {
  color: #999999;
  font-size: 90%;
  padding-bottom: 0.5em;
}
div.thumbnail a img {
  padding: 1px;
  border: 1px solid #666;
}
.thread {
  border-top: 2px solid #999;
  padding-top: 0.5em;
  clear: both;
}
.thread .omitted-posts {
  text-align: center;
  font-size: 90%;
  background: #333;
  -webkit-border-radius: 0.5em;
  margin-bottom: 0.5em;
}
.thread .omitted-posts a {
  padding: 0.3em;
  display: block;
  text-decoration: none;
  color: #999;
}
.recent-posts {
  font-size: 80%;
  color: #CCC;
  padding-left: 5%;
}
div.catalog div.thumbnail {
  border: none;
  padding: 0;
  float: left;
  width: 20%;
  height: 60px;
  position: relative;
  overflow: hidden;
}
div.catalog div.thumbnail .posts {
  position: absolute;
  font-size: larger;
  font-weight: bold;
  left: 0.2em;
  top: 0.1em;
  opacity: 0.8;
  text-shadow: 1px 1px 0 #777;
}
div.catalog div.thumbnail a {
  display: block;
  height: 80px;
  text-align: center;
}
div.catalog div.thumbnail a img {
  max-width: 100%;
}
