body {
    background-color: #EBE5DC;
    color: #554F52;
    padding: 0.5em;
}

h1 {
    color: #8C0B0B;
}

h2 {
    color: #194E76;
}

h3 {
    padding: 0.2em;
}

ul {
    padding-left: 2em;
}

li {
    margin-left: 0;
    padding-left: 0;
}

a {
    color: #8C0B0B;
    text-decoration: none;
    border-bottom: 1px solid #A79E8C;
}

/* #8C0B0B, #C9B385, #194E76, #A79E8C, #EBE5DC */
