body {
    color: #EBDBBA;
    background-color: #3B312D;
    padding: 0.5em;
    font-size: small;
}

h1 {
}

h1 a {
    color: #BF734C;
    text-decoration: none;
}

h2 {
    border-bottom: 1px solid;
}

h3 {
    padding: 0.2em;
}

ul {
    padding-left: 2em;
}

li {
    margin-left: 0;
    padding-left: 0;
}

ul#threads {
    padding: 0;
}

ul#threads li {
    border: 1px solid #736859;
    float: left;
    list-style: none;
    margin: 5px;
    padding: 5px;
    width: 180px;
    height: 180px;
    overflow: hidden;
}

ul#threads li .meta {
    font-size: small
}

ul#threads li img.thumbnail {
    max-width: 120px;
    max-height: 120px;
}

a {
    color: #BF734C;
}

a:hover {
    color: #732420;
}

.title {
    font-size: 120%;
}

#search-result .thumbnail {
    float: right;
}

#search-result .thumbnail img {
    max-width: 100px;
    max-height: 100px;
}

#search-result .search-result-entry {
}
