[% USE Filter.VisualTruncate %]
[% WRAPPER _wrapper.tt %]
<ul id="threads">
[% FOREACH t IN threads %]
<li>
<span class="meta">[% t.datetime | html %]</span><br />
<a href="[% t.uri | html %]">
<img src="[% t.thumbnail_uri | html %]" class="thumbnail" /><br />
[% t.summary | visual_truncate(100, '...') | html %]
</a>
</li>
[% END %]
</ul>
[% END %]
